DataProcessingWebAPI/Content/Schemas/ADHerkomst.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataProcessingWebAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ADHerkomst" type="dat:ADHerkomstType" xmlns:dat="http://schemas.datacontract.org/2004/07/DataProcessingWebAPI"/>
  <xs:complexType name="ADHerkomstType">
    <xs:sequence>
      <xs:element type="xs:int" name="CategoryGroupID"/>
      <xs:element type="xs:string" name="Key"/>
      <xs:element type="xs:string" name="Title"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>