DataProcessingWebAPI/Content/Schemas/DoorstroomData.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataProcessingWebAPI.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DoorstroomDataDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DoorstroomDataArray">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DoorstroomData" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="Id"/>
                    <xs:element type="xs:string" name="Geslacht"/>
                    <xs:element type="xs:string" name="MboLeerwegEnNiveau"/>
                    <xs:element type="xs:string" name="MboRichtingEnSector"/>
                    <xs:element type="xs:string" name="Persoonskenmerken"/>
                    <xs:element type="xs:string" name="Perioden"/>
                    <xs:element type="xs:int" name="TotaalDoorstroomLeerling_1" nillable="true"/>
                    <xs:element type="xs:int" name="Leerjaar12_2" nillable="true"/>
                    <xs:element type="xs:int" name="Vmbo3Totaal_3" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_4" nillable="true"/>
                    <xs:element type="xs:int" name="LandbouwBKG_5" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijnBKG_6" nillable="true"/>
                    <xs:element type="xs:int" name="EconomieBKG_7" nillable="true"/>
                    <xs:element type="xs:int" name="TechniekBKG_8" nillable="true"/>
                    <xs:element type="xs:int" name="CombinatieBKG_9" nillable="true"/>
                    <xs:element type="xs:int" name="GeenSectorT_10" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_11" nillable="true"/>
                    <xs:element type="xs:int" name="LandbouwBKG_12" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijnBKG_13" nillable="true"/>
                    <xs:element type="xs:int" name="EconomieBKG_14" nillable="true"/>
                    <xs:element type="xs:int" name="TechniekBKG_15" nillable="true"/>
                    <xs:element type="xs:int" name="CombinatieBKG_16" nillable="true"/>
                    <xs:element type="xs:int" name="GeenSectorT_17" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_18" nillable="true"/>
                    <xs:element type="xs:int" name="LandbouwBKG_19" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijnBKG_20" nillable="true"/>
                    <xs:element type="xs:int" name="EconomieBKG_21" nillable="true"/>
                    <xs:element type="xs:int" name="TechniekBKG_22" nillable="true"/>
                    <xs:element type="xs:int" name="CombinatieBKG_23" nillable="true"/>
                    <xs:element type="xs:int" name="GeenSectorT_24" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_25" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_26" nillable="true"/>
                    <xs:element type="xs:int" name="BasisberoepsgerichteLeerweg_27" nillable="true"/>
                    <xs:element type="xs:int" name="KaderberoepsgerichteLeerweg_28" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_29" nillable="true"/>
                    <xs:element type="xs:int" name="GemengdeLeerweg_30" nillable="true"/>
                    <xs:element type="xs:int" name="TheoretischeLeerweg_31" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_32" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_33" nillable="true"/>
                    <xs:element type="xs:int" name="BasisberoepsgerichteLeerweg_34" nillable="true"/>
                    <xs:element type="xs:int" name="KaderberoepsgerichteLeerweg_35" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_36" nillable="true"/>
                    <xs:element type="xs:int" name="GemengdeLeerweg_37" nillable="true"/>
                    <xs:element type="xs:int" name="TheoretischeLeerweg_38" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_39" nillable="true"/>
                    <xs:element type="xs:int" name="Landbouw_40" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijn_40" nillable="true"/>
                    <xs:element type="xs:int" name="Economie_42" nillable="true"/>
                    <xs:element type="xs:int" name="Techniek_43" nillable="true"/>
                    <xs:element type="xs:int" name="Combinatie_44" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_45" nillable="true"/>
                    <xs:element type="xs:int" name="Landbouw_46" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijn_47" nillable="true"/>
                    <xs:element type="xs:int" name="Economie_48" nillable="true"/>
                    <xs:element type="xs:int" name="Techniek_49" nillable="true"/>
                    <xs:element type="xs:int" name="Combinatie_50" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_51" nillable="true"/>
                    <xs:element type="xs:int" name="Landbouw_52" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijn_53" nillable="true"/>
                    <xs:element type="xs:int" name="Economie_54" nillable="true"/>
                    <xs:element type="xs:int" name="Techniek_55" nillable="true"/>
                    <xs:element type="xs:int" name="Combinatie_56" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_57" nillable="true"/>
                    <xs:element type="xs:int" name="Totaal_58" nillable="true"/>
                    <xs:element type="xs:int" name="Landbouw_59" nillable="true"/>
                    <xs:element type="xs:int" name="ZorgEnWelzijn_60" nillable="true"/>
                    <xs:element type="xs:int" name="Economie_61" nillable="true"/>
                    <xs:element type="xs:int" name="Techniek_62" nillable="true"/>
                    <xs:element type="xs:int" name="Combinatie_63" nillable="true"/>
                    <xs:element type="xs:int" name="TheoretischeLeerweg_64" nillable="true"/>
                    <xs:element type="xs:int" name="HavoVwoInclAlgLeerjr_65" nillable="true"/>
                    <xs:element type="xs:int" name="Havo4Totaal_66" nillable="true"/>
                    <xs:element type="xs:int" name="Havo5Totaal_67" nillable="true"/>
                    <xs:element type="xs:int" name="Havo5MetDiploma_68" nillable="true"/>
                    <xs:element type="xs:int" name="Havo5ZonderDiploma_69" nillable="true"/>
                    <xs:element type="xs:int" name="Vwo46Totaal_70" nillable="true"/>
                    <xs:element type="xs:int" name="Vwo6MetDiploma_71" nillable="true"/>
                    <xs:element type="xs:int" name="Vwo46ZonderDiploma_72" nillable="true"/>
                    <xs:element type="xs:int" name="Praktijkonderwijs_73" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

