DataProcessingWebAPI/Content/Schemas/WerkzameBeroepsbevolking.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataProcessingWebAPI.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WerkzameBeroepsbevolkingDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WerkzameBeroepsbevolkingArray">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WerkzameBeroepsbevolking" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="Id"/>
                    <xs:element type="xs:string" name="Kenmerken"/>
                    <xs:element type="xs:string" name="Perioden"/>
                    <xs:element type="xs:int" name="WerkzameBeroepsbevolkingTotaal" nillable="true"/>
                    <xs:element type="xs:int" name="TotaalCreatieveBeroepen" nillable="true"/>
                    <xs:element type="xs:int" name="Kunsten" nillable="true"/>
                    <xs:element type="xs:int" name="MediaEnEntertainment" nillable="true"/>
                    <xs:element type="xs:int" name="CreatieveZakelijkeDienstverlening" nillable="true"/>
                    <xs:element type="xs:int" name="OverigeCreatieveBeroepen" nillable="true"/>
                    <xs:element type="xs:int" name="WerkzPersMetNietCreatieveBeroep" nillable="true"/>
                    <xs:element type="xs:int" name="WerkzPersMetBeroepOnbekend" nillable="true"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>